.match {
  display: flex;
  gap: 20px;
  justify-content: center;

}

.box {
  border: 2px solid red;
  width: 300px;
  text-align: center;
}

.box img {
  width: 200px;
  height: 200px;
}

.btns {
  display: flex;
  justify-content: center;
}

.btns img {
  width: 50px;
  margin: 10px;
}

.result {
  display: flex;
  justify-content: center;
}